body{
    margin: 0%;
}
section{
    display: flex;
}
h1{
    font-size: 60px;
}
p{
    font-size: 30px;
}
a{
    text-decoration: none;
    font-size: 30px;
    background-color: blue;
    color: white;
    padding: 20px 80px;
}
div{
    margin: 50px;
}
img{
    height: 550px;
    width: 550px;
}
#feml{
    background-image: url(img/7.png);
    background-repeat: no-repeat;
}
.as{
    text-align: center;
}
.dd{
    box-shadow: 20px 20px 40px gray;
    border-radius: 10px;
    text-align: center;
}
.im{
    width: 566px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    width: auto;
    height: 250px;
}
.mn{
    box-shadow: 20px 20px 40px gray;
    height: 250px;
    width: auto;
}
.gj{
    width: 350px;
    height: 200px;
    box-shadow: 20px 2px 40px;
    border-radius: 10px;
    margin: 24px 50px;
    text-align: center;
}